<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>

        <div class="flex-container">
            <ul>
                <li class="word">hard</li>
                <li class="translatedWord">קשה</li>
            </ul>

            <ul>
                <li class="word">to</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">sustain</li>
                <li class="translatedWord">לשמר</li>
            </ul>
            <ul>
                <li class="word">and</li>
                <li class="translatedWordTransperent"></li>
            </ul>
            <ul>
                <li class="word">the</li>
                <li class="translatedWordTransperent"></li>
            </ul>
            <ul>
                <li class="word">larger</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">you</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">grow</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">the</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">harder</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">it</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">becomes</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>
            <ul>
                <li class="word">one</li>
                <li class="translatedWordTransperent">two</li>
            </ul>

        </div>


    </div>

</body>
</html>