body{
  margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap ;
  align-items:flex-start;
  border: 2px dotted black;
  height: 100vh;
  align-content: flex-start;
}

.word-ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0.5%; 
  
}

.word {
  order: 0;
  /* border: 1px dotted red; */
  font-size: 18px;
}

.translatedWord{
  order: 1;
  /* border: 1px dotted blue; */
  color:#676161;
  font-size: 11px;

}


.translatedWordTransperent{
  order: 1;
  /* border: 1px dotted blue; */
  color:white;
  font-size: 11px;
  display: inline-block;
  height: 14px;

}


/* Side Bar CSS */
.nav-ul{
  /* border: black dotted 2px; */
  list-style-type: none;
  padding: 0;
  margin: 0; 
  background: lightgray;
  
  display: flex;
  flex-direction: column;
  /* align-content: space-around; */
  justify-content:space-between;
  width: 60px;
  height: 100vh;
  
  
}

.nav-ul-top {
  padding: 0;
  margin: 0; 
  
  display: flex;
  flex-direction: column;
  justify-content:start;
  width: 60px;
  height: 100vh;
}

.nav-ul-bottom {
  padding: 0;
  margin: 0; 

  display: flex;
  flex-direction: column;
  /* justify-content:flex-end; */
  width: 60px;
  height: 280px;
}

.slider {
  align-self: center;
  height: 10px;
  
}

.hard{
  align-self: center;
}

.easy{
  align-self: center;
  height: 150px;
}

/* Article Content CSS */